<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalle.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body class="body">
        <%- include('../partials/header') %>

    <main class="principal-detalle">
        <div class="detalle-pc-1">
        <section class = "img-detalles">
            <article class="imagen-grande">
                <div class="imagen-detalle">
                    <img id="img-detalle" src="/img/collar-anti.jpg" alt="">

                </div>
            </article>
            <article class="imagen-chica">
                <div>
                    <img id="img-chica-1" src="/img/collar-anti-seresto-2.jpg" alt="">
                </div>
                <div>
                    <img src="/img/collar-anti-seresto-3.jpg" alt="">
                </div>
                <div>
                    <img src="img/collar-anti-seresto-4.jpg" alt="">
                </div>
            </article>

        </section>
        <section class="detalle-titulo">
            <h4 class="titulo-producto">Collar Anti-pulgas Seresto</h4>
            <p class="stock">Stock disponible: 5</p>
            <p class="precio-anterior"> PRECIO ANTERIOR: <span>$2000</span></p>
            <h4 class="precio-actual">Precio: $1500</h4>
            <p class="cuotas">Cuotas: en 12 x $208,33</p>
            <div class="cantidad">
                <p>Cantidad</p>
                <input  id = "boton-cantidad" type="number" name="cantidad" >
            </div>
        </section>
    </div>
    <div class="detalle-pc-2">
        <section class="descripcion">
            <p id="titulo-desc">DESCRIPCIÓN</p>
            <p id ="descripcion">
                Resistente al agua <br>
                Con una duración de 8 meses <br>
                Inoloro <br>

            </p>

            
        </section>
        <section class="botones-adquirir">
            <div class="opciones-producto">
                
                <div class="padre-botones">
                    
                    <div class="padre-boton-editar">
                        <a href="/products" ><input class="boton-editar" id="boton-finalizar" type="submit" value="Editar"></a>
                    </div>
                    
                    <div class="padre-boton-finalizar">
                        <a href="/carrito-compras" ><input id="boton-finalizar" type="submit" value="Agregar al carrito"></a>
                    </div>
                    
                </div>
        </section>
    </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>