<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body class = "body">
    <%- include('../partials/header') %>

    <main class="principal">
        <div id="conteItemsCarrusel">
            <div class="itemCarrusel" id="itemCarrusel-1">
                <div class="tarjetaCarrusel" id="tarjetaCarrusel-1"><img src="/img/fondo.jpg" alt="item-1-carrusel">
                </div>
                <div class="flechasCarrusel">
                    <a href="#itemCarrusel-3"> <i><i class="fa-solid fa-circle-chevron-left"></i></i></a>
                    <a href="#itemCarrusel-2"><i><i class="fa-solid fa-circle-chevron-right"></i></i> </a>
                </div>
            </div>

            <div class="itemCarrusel" id="itemCarrusel-2">
                <div class="tarjetaCarrusel" id="tarjetaCarrusel-2"><img src="/img/puppy.jpg" alt="item-2-carrusel">
                </div>
                <div class="flechasCarrusel">
                    <a href="#itemCarrusel-1"> <i><i class="fa-solid fa-circle-chevron-left"></i></i></a>
                    <a href="#itemCarrusel-3"><i><i class="fa-solid fa-circle-chevron-right"></i></i> </a>
                </div>

            </div>

            <div class="itemCarrusel" id="itemCarrusel-3">
                <div class="tarjetaCarrusel" id="tarjetaCarrusel-3"><img src="/img/rottweiler.jpg"
                        alt="item-3-carrusel">
                </div>
                <div class="flechasCarrusel">
                    <a href="#itemCarrusel-2"> <i><i class="fa-solid fa-circle-chevron-left"></i></i></a>
                    <a href="#itemCarrusel-1"><i><i class="fa-solid fa-circle-chevron-right"></i></i> </a>
                </div>

            </div>
        </div>
        <div id="contePuntos">
            <a href="#itemCarrusel-1"><i class="fa-solid fa-circle"></i> </a>
            <a href="#itemCarrusel-2"><i class="fa-solid fa-circle"></i> </a>
            <a href="#itemCarrusel-3"><i class="fa-solid fa-circle"></i> </a>
        </div>

        <section class="nosotros">
            <p class="texto">
                <h4 class="titulo-texto">UN OBJETIVO SIMPLE</h4>
                PetCrosses es un sitioWeb donde podrás adquirir alimentos, articulos de higiene,
                collares, antiparasitarios,medicamentos y muchos mas accesorios para tus mascotas. 
                

            </p>
        </section>
        <section class="productos-destacados">
            <h2 class="titulo-productos">PRODUCTOS DESTACADOS</h2>
            <div class="productos-destacados-pc">
                <% for (let i = 0; i < 5; i++){ %>
                <article class="art-producto">

                    <h4 class="titulo-articulo"><a href="">Collar Antipulgas</a></h4>
                    <a href="><img id="destacado-1" src="/img/collar-anti.jpg" alt="collar anti pulgas"></a>
                    <div class="descripciones">
                        <p> </p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$999</p>
                    </div>
    
                </article>
                <% } %>
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="/products/detalle">Collar</a></h4>
                    <a href="/products/detalle"><img id="destacado-2" src="/img/collar.webp" alt="collar"></a>
                    <div class="descripciones">
                        <p>Collar 25mm ancho</p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$449</p>
                    </div>

                </article>
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="/products/detalle">Juguete para Perro</a></h4>
                    <a href="/products/detalle"><img id="destacado-3" src="/img/jueguete-perro.jpg" alt="juguete perro"></a>
                    <div class="descripciones">
                        <p>Hueso de goma ajedrez</p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$519</p>
                    </div>

                </article>
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="/products/detalle">Correa</a></h4>
                    <a href="/products/detalle"><img id="destacado-4" src="/img/correa.webp" alt="correa"></a>
                    <div class="descripciones">
                        <p>Correa regulable</p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$499</p>
                    </div>

                </article>
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="/products/detalle">Plato Agua-Comida</a></h4>
                    <a href="/products/detalle"><img id="destacado-5" src="/img/plato-perro.jpg" alt="plato perro"></a>
                    <div class="descripciones">
                        <p>Con divisoria para alimento y Agua</p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$299</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="formas-pago">
            <div class="opcion">
                <i class="fa-solid fa-truck"></i>
                <p class="envio">ENVIO GRATIS</p>
                <a href="#" class="envio-gratis">Link a producto con envío gratis</a>
            </div>
            <div class="opcion">
                <i class="fa-solid fa-credit-card"></i>
                <p class="tarjeta">TARJETA DE CRÉDITO Y DÉBITO</p>
                <a href="#" class="tarjetas-habilitadas">Link a tarjetas habilitadas</a>
            </div>
            <div class="opcion">
                <i class="fa-solid fa-sack-dollar"></i>
                <p class="efectivo">EFECTIVO</p>
                <a href="#" class="efectivo">En sucursales</a>
            </div>
            <div class="opcion">
                <i class="fa-solid fa-dollar-sign"></i>
                <p class="cuotas">CUOTAS SIN INTÉRES</p>
                <a href="#" class="cuotas-interes">Productos sin Interés</a>
            </div>
        </section>
        <section>
            <article class="titulo-marca">
                <h2 class="destacadas">MARCAS DESTACADAS</h2>
            </article>
            <div class="marcas-destacadas">
                <article class="marcas">
                    <div>
                        <img id="" src="/img/Dog-chow.webp" alt="Dog-chow">
                    </div>
                    <div>
                        <img id="" src="/img/pedigree.jpg" alt="Pedigree">
                    </div>
                    <div>
                        <img id="" src="/img/pet-food.jpg" alt="Pet Food">
                    </div>
                    <div>
                        <img id="" src="/img/purina-cat.png" alt="Purina cat">
                    </div>
                    <div>
                        <img id="" src="/img/purina.webp" alt="Purina">
                    </div>
                    <div>
                        <img id="" src="/img/royal-canin.png" alt="Royal Canin">
                    </div>
                    <div>
                        <img id="" src="/img/supercan.jpg" alt="Super can">
                    </div>
                    <div>
                        <img id="img-supreme" src="/img/supreme.png" alt="Supreme">
                    </div>
                </article>
            </div>
        </section>

        

    </main>
    <%- include('../partials/footer') %>
</body>

</html>