<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/petshop.css">
</head>
<body>
    <main>
        <div class="contenedor-petshop">
            <!-- producto 1-->
            <div class="contenedor-producto">
                <img src="/img/collar-anti.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    Collar Antipulgas Seresto
                </p>
                <p class="precio-petshop">
                    $1890
                </p>
            </div>
            <!-- producto 2-->
            <div class="contenedor-producto">
                <img src="/img/collar-anti-2.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    Collar Tea 327
                </p>
                <p class="precio-petshop">
                    $700
                </p>
            </div>
            <!-- producto 3-->
            <div class="contenedor-producto">
                <img src="/img/collar-anti-3.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    Collar Ecthol 
                </p>
                <p class="precio-petshop">
                    $1000
                </p>
            </div>
            <!-- producto 4-->
            <div class="contenedor-producto">
                <img src="/img/correa 3.webp" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    Correa Pechera
                </p>
                <p class="precio-petshop">
                    $1500
                </p>
            </div>
            <!-- producto 5-->
            <div class="contenedor-producto">
                <img src="/img/plato-perro.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    Plato Doble
                </p>
                <p class="precio-petshop">
                    $800
                </p>
            </div>
            <!-- producto 6-->
            <div class="contenedor-producto">
                <img src="/img/jueguete-perro.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    Juguete Hueso
                </p>
                <p class="precio-petshop">
                    $1500
                </p>
            </div>
            <!-- producto 7-->
            <div class="contenedor-producto">
                <img src="/img/correa 2.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    Correa Pechera Reforzada
                </p>
                <p class="precio-petshop">
                    $2500
                </p>
            </div>
            <!-- producto 8-->
            <div class="contenedor-producto">
                <img src="/img/correa.webp" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    Correa extensible p/ Perro hasta 50kg
                </p>
                <p class="precio-petshop">
                    $4830
                </p>
            </div>
            <!-- producto 9-->
            <div class="contenedor-producto">
                <img src="/img/ropa-militar.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    chaleco perro Camuflada
                </p>
                <p class="precio-petshop">
                    $5000
                </p>
            </div>
            <!-- producto 10-->
            <div class="contenedor-producto">
                <img src="/img/ropa-motoquero.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    chaleco perro Motoquero
                </p>
                <p class="precio-petshop">
                    $5000
                </p>
            </div>
            <!-- producto 11-->
            <div class="contenedor-producto">
                <img src="/img/ropa-vestido-cuadritos.jpg" id="imagen-producto" alt="">
                <p class="nombre-producto">
                    vestido cuadros
                </p>
                <p class="precio-petshop">
                    $4000
                </p>
            </div>
        </div>
    </main>
</body>
</html>