<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/citas.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body class = "body">
    <header>

        <div class="logo"><a href="/"><img id="logo" src="/img/logo2.jpeg" alt="Inicio"></a></div>
        <div class=" nav ">
            <div class="centro-opcion">
                <a href="/citas">
                    <h2 class="citas">Citas</h2>
                </a>
                <a href="/petshop">
                    <h2 class="petshop">PetShop</h2>
                </a>

            </div>
            <div class="items">
                <nav class="navegacion">


                    <div class="der-opcion">
                        <a href="/search" id="buscador"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href="/registro" id="icono-registro"><i class="fa-solid fa-circle-user"></i></a>
                        <a href="/carrito-compras" class="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </nav>
            </div>
        </div>

    </header>
<section>
    <div id="conteItemsCarrusel">
        <div class="itemCarrusel" id="itemCarrusel-1">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-1"><img src="/img/fondo.jpg" alt="item-1-carrusel">
            </div>
            <div class="flechasCarrusel">
                <a href="#itemCarrusel-3"> <i><i class="fa-solid fa-circle-chevron-left"></i></i></a>
                <a href="#itemCarrusel-2"><i><i class="fa-solid fa-circle-chevron-right"></i></i> </a>
            </div>
        </div>

        <div class="itemCarrusel" id="itemCarrusel-2">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-2"><img src="/img/puppy.jpg" alt="item-2-carrusel">
            </div>
            <div class="flechasCarrusel">
                <a href="#itemCarrusel-1"> <i><i class="fa-solid fa-circle-chevron-left"></i></i></a>
                <a href="#itemCarrusel-3"><i><i class="fa-solid fa-circle-chevron-right"></i></i> </a>
            </div>

        </div>

        <div class="itemCarrusel" id="itemCarrusel-3">
            <div class="tarjetaCarrusel" id="tarjetaCarrusel-3"><img src="/img/rottweiler.jpg"
                    alt="item-3-carrusel">
            </div>
            <div class="flechasCarrusel">
                <a href="#itemCarrusel-2"> <i><i class="fa-solid fa-circle-chevron-left"></i></i></a>
                <a href="#itemCarrusel-1"><i><i class="fa-solid fa-circle-chevron-right"></i></i> </a>
            </div>

        </div>
    </div>
    <div id="contePuntos">
        <a href="#itemCarrusel-1"><i class="fa-solid fa-circle"></i> </a>
        <a href="#itemCarrusel-2"><i class="fa-solid fa-circle"></i> </a>
        <a href="#itemCarrusel-3"><i class="fa-solid fa-circle"></i> </a>
    </div>
</section>
<section class="productos-destacados">
    <h2 class="titulo-productos">PRODUCTOS DESTACADOS</h2>
    <div class="productos-destacados-pc">
        <article class="art-producto">
            <h4 class="titulo-articulo"><a href="/detalle">Collar Antipulgas</a></h4>
            <a href="/detalle"><img id="destacado-1" src="/img/collar-anti.jpg" alt="collar anti pulgas"></a>
            <div class="descripciones">
                <p> Para perros de más de 8kg</p>
            </div>
            <div class="padre-precio">
                <p class="precio">$999</p>
            </div>

        </article>
        <article class="art-producto">
            <h4 class="titulo-articulo"><a href="/detalle">Collar</a></h4>
            <a href="/detalle"><img id="destacado-2" src="/img/collar.webp" alt="collar"></a>
            <div class="descripciones">
                <p>Collar 25mm ancho</p>
            </div>
            <div class="padre-precio">
                <p class="precio">$449</p>
            </div>

        </article>
        <article class="art-producto">
            <h4 class="titulo-articulo"><a href="/detalle">Juguete para Perro</a></h4>
            <a href="/detalle"><img id="destacado-3" src="/img/jueguete-perro.jpg" alt="juguete perro"></a>
            <div class="descripciones">
                <p>Hueso de goma ajedrez</p>
            </div>
            <div class="padre-precio">
                <p class="precio">$519</p>
            </div>

        </article>
        <article class="art-producto">
            <h4 class="titulo-articulo"><a href="/detalle">Correa</a></h4>
            <a href="/detalle"><img id="destacado-4" src="/img/correa.webp" alt="correa"></a>
            <div class="descripciones">
                <p>Correa regulable</p>
            </div>
            <div class="padre-precio">
                <p class="precio">$499</p>
            </div>

        </article>
        <article class="art-producto">
            <h4 class="titulo-articulo"><a href="/detalle">Plato Agua-Comida</a></h4>
            <a href="/detalle"><img id="destacado-5" src="/img/plato-perro.jpg" alt="plato perro"></a>
            <div class="descripciones">
                <p>Con divisoria para alimento y Agua</p>
            </div>
            <div class="padre-precio">
                <p class="precio">$299</p>
            </div>
        </article>
    </div>
</section>

<main class="citas">
    <nav class="navegacion-citas">
        <div class = "opcion"></div>
        <div class = "opcion"></div>
        <div class = "opcion"></div>
        <div class = "opcion"></div>
    </nav>
</main>
<footer class="pie-pagina">
    <div class="logo-pie"><a href="/"><img id="logo-pie" src="/img/logo2.jpeg" alt="Inicio"></a></div>
    <div class="contactenos">
        <h4 class="titulo">CONTACTENOS</h4>
        <p><i id="tf" class="fa-solid fa-phone"></i> (+54) 4456789</p>
        <p><i id="mail" class="fa-solid fa-envelope"></i> correofalso@gmail.com</p>
        <p><i id="ubi" class="fa-solid fa-location-dot"></i> Posadas-Misiones Calle Falsa 123</p>
        <p>&copy; PetCrosses 2022</p>

    </div>
    <div class="redes-footer">
        <div>
            <h4 class="titulo">REDES</h4>
        </div>
        <div class="redes"> <a href="https://www.facebook.com/"><i id="fb"
                    class="fa-brands fa-facebook-square">Facebook</i></a>
            <a href="https://www.instagram.com/"> <i id="ig" class="fa-brands fa-instagram-square">Instagram</i></a>
            <a href="https://twitter.com/"><i id="tw" class="fa-brands fa-twitter-square">Twitter</i></a>
            <a href="https://www.whatsapp.com/?lang=es"><i id="wp"
                    class="fa-brands fa-whatsapp-square">Whatsapp</i></a>
        </div>

    </div>

</footer>
</body>
</html>