<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       
        <div class="logo"><a href="/"><img id = "logo"src="/img/logo .jpeg" alt="Inicio"></a></div>
        <div class = " nav ">
        <div class="centro-opcion">
            <a href="/citas"><h2 class="citas">Citas</h2></a>
            <a href="/petshop"><h2 class="petshop">PetShop</h2></a>

        </div>
        <div class="items"><nav class="navegacion">
            
            <div class="der-opcion">
                <a href="/buscador" class="buscador"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href="/registro" id ="icono-registro"><i class="fa-solid fa-circle-user"></i></a>
                <a href="/carrito-compras" class="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </nav></div>
    </div> 

    </header>
</body>
</html>