<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/detalle.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header>

        <div class="logo"><a href="/"><img id="logo" src="/img/logo2.jpeg" alt="Inicio"></a></div>
        <div class=" nav ">
            <div class="centro-opcion">
                <a href="/citas">
                    <h2 class="citas">Citas</h2>
                </a>
                <a href="/petshop">
                    <h2 class="petshop">PetShop</h2>
                </a>

            </div>
            <div class="items">
                <nav class="navegacion">


                    <div class="der-opcion">
                        <a href="/search" id="buscador"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href="/registro" id="icono-registro"><i class="fa-solid fa-circle-user"></i></a>
                        <a href="/carrito-compras" class="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </nav>
            </div>
        </div>

    </header>
    <main class="principal-detalle">
        <div class="detalle-pc-1">
        <section class = "img-detalles">
            <article class="imagen-grande">
                <div class="imagen-detalle">
                    <img id="img-detalle" src="/img/collar-anti.jpg" alt="">

                </div>
            </article>
            <article class="imagen-chica">
                <div>
                    <img id="img-chica-1" src="/img/collar-anti-seresto-2.jpg" alt="">
                </div>
                <div>
                    <img src="/img/collar-anti-seresto-3.jpg" alt="">
                </div>
                <div>
                    <img src="img/collar-anti-seresto-4.jpg" alt="">
                </div>
            </article>

        </section>
        <section class="detalle-titulo">
            <h4 class="titulo-producto">Collar Anti-pulgas Seresto</h4>
            <p class="stock">Stock disponible: 5</p>
            <p class="precio-anterior"> PRECIO ANTERIOR: $2000</p>
            <h4 class="precio-actual">Precio: $1500</h4>
            <p class="cuotas">Cuotas: en 12 x $208,33</p>
        </section>
    </div>
    <div class="detalle-pc-2">
        <section class="descripcion">
            <p id="titulo-desc">DESCRIPCIÓN</p>
            <p id ="descripcion">
                Resistente al agua <br>
                Con una duración de 8 meses <br>
                Inoloro <br>

            </p>
        </section>
        <section class="botones-adquirir">
            <div class="opciones-producto">
                <div class="cantidad">
                    <p>Cantidad</p>
                    <input  id = "boton-cantidad" type="number" name="cantidad">
                </div>
                <div>
                    <div class="padre-boton-finalizar">
                        <a href="/carrito-compras" id="boton-finalizar">Agregar al carrito</a>
                    </div>
                </div>
        </section>
    </div>
    </main>


    <footer class="pie-pagina">
        <div class="logo-pie"><a href="/"><img id="logo-pie" src="/img/logo2.jpeg" alt="Inicio"></a></div>
        <div class="contactenos">
            <h4 class="titulo">CONTACTENOS</h4>
            <p><i id="tf" class="fa-solid fa-phone"></i> (+54) 4456789</p>
            <p><i id="mail" class="fa-solid fa-envelope"></i> correofalso@gmail.com</p>
            <p><i id="ubi" class="fa-solid fa-location-dot"></i> Posadas-Misiones Calle Falsa 123</p>
            <p>&copy; PetCrosses 2022</p>

        </div>
        <div class="redes-footer">
            <div>
                <h4 class="titulo">REDES</h4>
            </div>
            <div class="redes"> <a href="https://www.facebook.com/"><i id="fb"
                        class="fa-brands fa-facebook-square">Facebook</i></a>
                <a href="https://www.instagram.com/"> <i id="ig" class="fa-brands fa-instagram-square">Instagram</i></a>
                <a href="https://twitter.com/"><i id="tw" class="fa-brands fa-twitter-square">Twitter</i></a>
                <a href="https://www.whatsapp.com/?lang=es"><i id="wp"
                        class="fa-brands fa-whatsapp-square">Whatsapp</i></a>
            </div>

        </div>

    </footer>
</body>

</html>