#imagenUsuario{
    width: 200px;
    height: 200px;
}
.perfilUsuario{
    border: solid 2px black;
    width: 50%;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}


.cerrar-sesion{
    text-align: center;
}

.cerrar-sesion a {
    color: black;
}

.cerrar-sesion i {
    font-size: 50px;
}

.cerrar-sesion h2{
    width: 100%;
    font-size: 20px;
}

.borrar-usuario{
    font-size: 18px;
    border: solid 2px black;
    border-radius: 5px;
    background: white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: background-color .5s;
}
.borrar-usuario:hover {
    background: rgb(236, 151, 164) ;
    padding: 10px;
    border: 2px solid black;
}

.imagen-perfil{
    border: solid 2px black;
}
