*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(3, 132, 110);
    justify-content: space-between;

}
.nav{
    width: 100%;
    border: solid 5px red;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}
.items {
    
    border: solid 5px green;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    border: solid 5px orange;
    width: 100%
}
#logo{
   
    width: 100%;
}
.centro-opcion {
    border: solid 5px yellow;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;

}
.centro-opcion a {
    text-decoration: none;
    color: black;
}
.der-opcion {
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.der-opcion a {
    color: black;
    margin-right: 30px;
    font-size: 30px;
}

#icono-registro {
    color: rgb(128, 128, 128);

}

h2 {
    margin-right: 5vw;
}

@media (min-width: 768px){
    .logo{
        width: 40%;
    }
    .nav{
        width: 60%;
        justify-content: space-between;
    }
}