<footer class="pie-pagina">
    <div class="logo-pie"><a href="/"><img id="logo-pie" src="/img/logo2.jpeg" alt="Inicio"></a></div>
    <div class="contactenos">
        <h4 class="titulo">CONTACTENOS</h4>
        <p><i id="tf" class="fa-solid fa-phone"></i> (+54) 4456789</p>
        <p><i id="mail" class="fa-solid fa-envelope"></i> correofalso@gmail.com</p>
        <p><i id="ubi" class="fa-solid fa-location-dot"></i> Posadas-Misiones Calle Falsa 123</p>
        <p>&copy; PetCrosses 2022</p>

    </div>
    <div class="redes-footer">
        <div>
            <h4 class="titulo">REDES</h4>
        </div>
        <div class="redes"> <a href="https://www.facebook.com/"><i id="fb"class="fa-brands fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/"> <i id="ig" class="fa-brands fa-instagram-square"></i></a>
            <a href="https://twitter.com/"><i id="tw" class="fa-brands fa-twitter-square"></i></a>
            <a href="https://www.whatsapp.com/?lang=es"><i id="wp" class="fa-brands fa-whatsapp-square"></i></a>
        </div>
    </div>

</footer>