<header>

    <div class="logo"><a href="/"><img id="logo" src="/img/logo2.jpeg" alt="Inicio"></a></div>
    <div class=" nav ">
        <div class="centro-opcion">
            <a href="/citas">
                <h2 class="citas">Citas</h2>
            </a>
            <a href="/petshop">
                <h2 class="petshop">PetShop</h2>
            </a>

        </div>
        <div class="items">
            <nav class="navegacion">


                <div class="der-opcion">
                    <a href="#" id="buscador"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href="/registro" id="icono-registro"><i class="fa-solid fa-circle-user"></i></a>
                    <a href="/carrito-compras" class="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </nav>
        </div>
    </div>

</header>