<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body class="body">
    <header>

        <div class="logo"><a href="/"><img id="logo" src="/img/logo2.jpeg" alt="Inicio"></a></div>
        <div class=" nav ">
            <div class="centro-opcion">
                <a href="/citas">
                    <h2 class="citas">Citas</h2>
                </a>
                <a href="/petshop">
                    <h2 class="petshop">PetShop</h2>
                </a>

            </div>
            <div class="items">
                <nav class="navegacion">


                    <div class="der-opcion">
                        <a href="/search" id="buscador"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href="/registro" id="icono-registro"><i class="fa-solid fa-circle-user"></i></a>
                        <a href="/carrito-compras" class="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </nav>
            </div>
        </div>

    </header>

    <main class="fondo">
        <section class="contenedor-carrito">
            <div class="titulo-carrito">
                <h2 class="mi-carrito">Mi Carrito</h2>
            </div>
            <div class="carrito-contenedor">
                <div class="producto">
                    <div class="descripcion-producto">
                        <div>
                            <img id="producto-ejemplo" src="/img/collar-anti.jpg" alt="collar anti-pulgas">
                        </div>
                        <div class="descripcion">
                            <h4>Collar Anti-pulgas Seresto</h4>
                            <p>Para perros de más de 8kg <br> Duración de 8 meses
                            <br> Resistente al agua</p>
                        </div>
                    </div>
                    <div class="opciones-producto">
                        <div class="cantidad">
                            <p>Cantidad</p>
                            <input type="number" name="cantidad">
                        </div>
                        <p class="valor">Precio <br>
                        $999</p>
                        <a href=""><i class="fa-solid fa-trash"></i></a> 
                    </div>
    
                </div>
                <div class="producto">
                    <div class="descripcion-producto">
                        <div>
                            <img id="producto-ejemplo" src="/img/correa.webp" alt="correa">
                        </div>
                        <div class="descripcion">
                            <h4>Correa </h4>
                            <p>Correa regulable <br>
                                Longitud máxima 1.5m <br>
                                Variedad de colores
                            
                            </p>
                        </div>
                    </div>
                    <div class="opciones-producto">
                        <div class="cantidad">
                            <p>Cantidad</p>
                            <input type="number" name="cantidad">
                        </div>
                        <p class="valor">Precio <br>
                        $499</p>
                        <a href=""><i class="fa-solid fa-trash"></i></a> 
                    </div>
    
                </div>
                <div class="finalizar-compra">
                    <div class="subtotal">
                        Subtotal: $1498
                    </div>
    
                    <div>
                        <input id="boton-finalizar" type="submit" value="Finalizar Compra">
                    </div>
    
                </div>
    
            </div>
        </section>
        <section class="productos-destacados">
            <h2 class="titulo-productos">PRODUCTOS RELACIONADOS</h2>
            <div class="productos-destacados-pc">
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="">Collar Antipulgas TEA 327</a></h4>
                    <a href="#"><img id="destacado" src="/img/collar-anti-2.jpg" alt="collar anti pulgas"></a>
                    <div class="descripciones">
                        <p> Para perros Grandes <br>
                         Longitud : 60 cm </p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$799</p>
                    </div>

                </article>
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="#">Collar Antipulgas ECTHOL</a></h4>
                    <a href="#"><img id="destacado" src="/img/collar-anti-3.jpg" alt="collar"></a>
                    <div class="descripciones">
                        <p>
                            Para perros chicos <br>
                            Longitud 40cm

                        </p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$549</p>
                    </div>

                </article>
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="#">Arnés de Perro Sincher</a></h4>
                    <a href="#"><img id="destacado" src="/img/correa 2.jpg" alt="juguete perro"></a>
                    <div class="descripciones">
                        <p>3 tamaños: M-0.6 pulgadas, L-0.79 pulgadas, Xl-0.98 pulgadas <br>
                        Gran comodidad</p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$1639</p>
                    </div>

                </article>
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="#">Arnés con correa</a></h4>
                    <a href="#"><img id="destacado" src="/img/correa 3.webp" alt="correa"></a>
                    <div class="descripciones">
                        <p>Variedad de talles <br>
                        Distintos tamaños ajustables <br>
                    Con banda reflectiva</p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$1299</p>
                    </div>

                </article>
                <article class="art-producto">
                    <h4 class="titulo-articulo"><a href="#">Correa de nailon</a></h4>
                    <a href="#"><img id="destacado" src="/img/correa 4.jpg" alt="plato perro"></a>
                    <div class="descripciones">
                        <p>Longitud 1.2m <br>
                            Para perros chicos
                        </p>
                    </div>
                    <div class="padre-precio">
                        <p class="precio">$299</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="formas-pago">
            <div class="opcion">
                <i class="fa-solid fa-truck"></i>
                <p class="envio">ENVIO GRATIS</p>
                <a href="#" class="envio-gratis">Link a producto con envío gratis</a>
            </div>
            <div class="opcion">
                <i class="fa-solid fa-credit-card"></i>
                <p class="tarjeta">TARJETA DE CRÉDITO Y DÉBITO</p>
                <a href="#" class="tarjetas-habilitadas">Link a tarjetas habilitadas</a>
            </div>
            <div class="opcion">
                <i class="fa-solid fa-sack-dollar"></i>
                <p class="efectivo">EFECTIVO</p>
                <a href="#" class="efectivo">En sucursales</a>
            </div>
            <div class="opcion">
                <i class="fa-solid fa-dollar-sign"></i>
                <p class="cuotas">CUOTAS SIN INTÉRES</p>
                <a href="#" class="cuotas-interes">Productos sin Interés</a>
            </div>
        </section>
        <section>
            <article class="titulo-marca">
                <h2 class="destacadas">MARCAS DESTACADAS</h2>
            </article>
            <div class="marcas-destacadas">
                <article class="marcas">
                    <div>
                        <img id="" src="/img/Dog-chow.webp" alt="Dog-chow">
                    </div>
                    <div>
                        <img id="" src="/img/pedigree.jpg" alt="Pedigree">
                    </div>
                    <div>
                        <img id="" src="/img/pet-food.jpg" alt="Pet Food">
                    </div>
                    <div>
                        <img id="" src="/img/purina-cat.png" alt="Purina cat">
                    </div>
                    <div>
                        <img id="" src="/img/purina.webp" alt="Purina">
                    </div>
                    <div>
                        <img id="" src="/img/royal-canin.png" alt="Royal Canin">
                    </div>
                    <div>
                        <img id="" src="/img/supercan.jpg" alt="Super can">
                    </div>
                    <div>
                        <img id="img-supreme" src="/img/supreme.png" alt="Supreme">
                    </div>
                </article>
            </div>
        </section>
    </main>
   

    <footer class="pie-pagina">
        <div class="logo-pie"><a href="/"><img id="logo-pie" src="/img/logo2.jpeg" alt="Inicio"></a></div>
        <div class="contactenos">
            <h4 class="titulo">CONTACTENOS</h4>
            <p><i id="tf" class="fa-solid fa-phone"></i> (+54) 4456789</p>
            <p><i id="mail" class="fa-solid fa-envelope"></i> correofalso@gmail.com</p>
            <p><i id="ubi" class="fa-solid fa-location-dot"></i> Posadas-Misiones Calle Falsa 123</p>
            <p>&copy; PetCrosses 2022</p>

        </div>
        <div class="redes-footer">
            <div>
                <h4 class="titulo">REDES</h4>
            </div>
            <div class="redes"> <a href="https://www.facebook.com/"><i id="fb"
                        class="fa-brands fa-facebook-square">Facebook</i></a>
                <a href="https://www.instagram.com/"> <i id="ig" class="fa-brands fa-instagram-square">Instagram</i></a>
                <a href="https://twitter.com/"><i id="tw" class="fa-brands fa-twitter-square">Twitter</i></a>
                <a href="https://www.whatsapp.com/?lang=es"><i id="wp"
                        class="fa-brands fa-whatsapp-square">Whatsapp</i></a>
            </div>

        </div>

    </footer>
</body>

</html>