<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetCrosses</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/registro.css">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2e3686342e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../partials/header') %>
    <section class="section-formulario">
        <div class="formulario">
            <form action="/registrar" method="POST">
                <h4 id="subtitulo">REGISTRATE</h4>
                <div class="nombre-apellido">
                    <input type="text" name="nombre" placeholder=" Indique su nombre" required id="Nombre">
                    <input type="text" name="apellido" placeholder=" Indique su apellido" required id="Apellido"> 
                </div>
                <div class="input">
                    <input type="email" name="correo" placeholder=" Correo electrónico" required id="Correo">
                </div>
                <div class="input">
                    <input type="password" name="contraseña" placeholder=" Contraseña" required id="contraseña">
                </div>
                <div class="input">
                    <input type="password" name="contraseña" placeholder=" Repita su contraseña" required id="contraseña">
                </div>
                <div id="fecha-de-nacimiento">
                    <p>Fecha de nacimiento</p>
                </div>
                <div class="input">
                    <input type="date" name="fechaNacimiento" placeholder=" Fecha de nacimiento" required id="fecha-nacimiento">
                </div>
                <div class="sexo">
                    <div>
                        <label><input type="radio" name="sexo" value="Hombre"> Hombre</label>
                    
                    </div>
                    <div>
                        <label><input type="radio" name="sexo" value="Mujer"> Mujer</label>
                        
                    </div>
                    <div>
                        <label><input type="radio" name="sexo" value="Otros"> Otros</label>
                        
                    </div>
                </div>

                <div>
                    <input id="boton-registrarme" type="submit" value="REGISTRARME">
                </div>
                <div>
                    <p>¿Ya tienes una cuenta? Haz <a href="/ingreso" style="color: red;">Click Aqui</a> para iniciar sesión</p>
                </div>
            </form>
        </div>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>